header{
    background-color: @g1;
    border-bottom: 1px solid @g3;
    position: fixed;
    z-index: 9999;
    width: 100%;
    left: 0;
    top: 0;
    height: @header-height;
    display: flex;
    justify-content: flex-start;
    padding: 0px @gap-md 0px 0px;
    align-items: center;
    box-sizing: border-box;
    .elevation-2();
    
    > a{
        width: @menuwidth;
        padding-left: @gap-lg;
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
        border-right: 1px solid @g3;
        .transition(300ms);
        
        .logo{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
            img{
                max-width: 100%;
                max-height: 36px;
                display: block;
            }
        }
    }
    .logoSmall {
        display: none;
    }
    i.icon{
        color: @g7;
    }
    .pageTitle {
        color: @g7;
        padding-left: @gap-xl;
        font-size: @font-size-lg;
        font-weight: @font-weight-semibold;
        position: relative;
        display: flex;
        align-items: center;

        i.editable-title-pen.icon {
            color: @c1;
            cursor: pointer;
            font-size: @font-size-sm;
            display: none;
            margin-left: @gap-xs;
            opacity: 0.7;
            .transition(200ms);
            
            &:hover {
                opacity: 1;
            }
        }
        &:hover {
            i.editable-title-pen.icon {
                display: inline-block;
            }
        }

        .help--plain {
            position: relative;
            display: inline-block;
            padding: calc(@gap / 2) @gap-md;
            line-height: 10px;
            font-size: 10px;
    
            p {
                padding: 0;
                display: inline-block;
                margin: 0;
            }
    
            a.help--plain--url {
                i {
                    margin-left: 10px;
                    margin-right: 3px;
                }
            }
    
            a.help--edit {
                span {
                    display: none;
                }
                i {
                    margin-left: 10px;
                }
            }
        }
    
        .help--tooltip {
            padding: 0;
            height: 100%;
            display: flex;
            align-items: center;
    
            span {
                padding: @gap-xs @gap-md;
                color: @g7;
                display: inline-block;
                cursor: help;
                .transition(200ms);
            }
            
            p {
                padding: 0;
            }
    
            &:hover {
                span {
                    color: @c1;
                }
            }

            .tippy-box {
                max-width: 650px!important;
                .tippy-content {
                    width: 600px;
                }
            }
        }
    
        .help--add-entry-field {
            padding: @gap-xs @gap-md;
            display: inline-block;

            > span {
                display: none;
            }
            
            a {
                font-size: @font-size-md;
            }
        }
    }
        
    
    .options{
        display: flex;
        justify-content: flex-end;
        position: relative;
        height: 100%;
        margin-left: auto;
        gap: @gap-xs;

        > div > button, > div > a {
            padding: @gap-sm @gap-md;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            border-radius: @radius;
            .transition(200ms);

            &:hover {
                background-color: @g2;
            }

            i {
                font-size: @font-size-lg;
                color: @g7;

                &.fa-grip-horizontal {
                    margin-top: -2px;
                }
            }
        }

        .language{
            position: relative;

            ul {
                display: none;
                flex-direction: column;
                width: 100%;
                justify-content: flex-end;
                align-items: center;
                position: absolute;
                left: 0;
                top: 100%;
                background-color: @g1;
                padding: @gap-sm;
                border-radius: @radius;
                .elevation-3();
                margin-top: @gap-xs;
                
                &.active{
                    display: flex;
                }
                li{
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: @gap-xs;
                    order: 2;
                    .transition(200ms);
                    
                    &:last-of-type{
                        margin: 0px;
                    }
                    &.active{
                        order: 1;
                    }
                    a{
                        width: @gap-lg;
                        display: block;
                        opacity: 0.7;
                        .transition(200ms);
                        
                        &:hover {
                            opacity: 1;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

body.hide-logo-on-menu-collapse.sidemenu-collapsed {
    header > a {
        width: auto;
    }
}

body > main > .content {
    &> h1:first-child, &> h2:first-child, &> h3:first-child {
        display: none;
    }

    .container:first-child > .row:first-child > *:first-child {
        &> h1:first-child, &> h2:first-child, &> h3:first-child {
            display: none;
        }
    }
}



@media @query[max_sm] {
    header {
        .logoBig {
            display: none;
        }
        .logoSmall {
            display: block;
            margin: 0 0 0 10px;

            img {
                width: 100%;
                max-width: 100px;
                max-height: 40px;
            }
        }

        .pageTitle {
            padding-left: calc( @gap * 0.5 );
            font-size: 16px;
        }
    }
}