/**
 * PIM Stylesheets
 * Author: Invokable
 * URL: invokable.gmbh
 * Version: 0.0.1
**/

// Summery
// 1.0 - Fonts
// 2.0 - Colors

// 1.0 - Fonts
@baseFontFamily:        'Roboto';
@headlineFontFamily:    'Roboto';
@fallbackFontFamily:    system-ui,-apple-system,"Segoe UI","Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

@copyfont:              'Roboto', @fallbackFontFamily;
@titlefont:             'Roboto', @fallbackFontFamily;
@copyfontSize:          14px;
@titlefontSize:         20px;

// 2.0 - Colors
// 2.1 - Colors - all colors
@c1: #c11818;
@c2: #ef5350;
@c3: #ffca28;
@c4: #42a5f5;
@c5: #7cb342;

@g1: #fff;
@g2: #f2f2f2;
@g3: #efefef;
@g4: #d9d9d9;
@g5: #d0d0d0;
@g6: #9e9e9e;
@g7: #373737;
@g8: #171717;
@g9: #000000;

@errorColor: #f01616;

// 2.2 - Colors - Overwriter Bootstrap colors
// 2.2.1 - Colors - BS Theme Colors
@bsTheme: {
    @primary:    @c1;
    @secondary:  @g4;
    @success:    @c5;
    @info:       @c4;
    @warning:    @c3;
    @danger:     @c2;
    @light:      @g2;
    @dark:       @g7;
}

// 2.2.1 - Colors - BS Colors
// @bsColors: {
//     @blue:   #0d6efd;
//     @indigo: #6610f2;
//     @purple: #6f42c1;
//     @pink:   #d63384;
//     @red:    #dc3545;
//     @orange: #fd7e14;
//     @yellow: #ffc107;
//     @green:  #198754;
//     @teal:   #20c997;
//     @cyan:   #0dcaf0;
// }

// x.x - Grid Config
@gap: 20px;

// x.x - Border
// x.x - Border - raidus 
@radius: 0px;
@radius-pills: 100px;

// x.x - Navigation
@menuwidth: 300px;