aside{
    position: relative;
    z-index: 100;
    height: calc(100vh - @header-height);
    max-height: 100vh;
    background-color: @g1;
    width: 15vw;
    min-width: @menuwidth;
    border-right: 1px solid @g3;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .transition(300ms);

    &.collapsed{
        width: 64px;
        min-width: 1px;
        overflow: visible;

        hr {
            margin: 0;
        }
        .menu{
            margin-bottom: 0;
            li{
                span{
                    pointer-events: none;
                    .fas.fa-sort-desc{
                        display: none;
                    }
                    span{
                        display: none;
                    }
                }
                > span {
                    i.icon{
                        display: flex;
                        justify-content: center;
                        width: 48px;
                        position: relative;
                        z-index: 2;
                        margin-left: 0;
                    }
                }
                a{
                    padding-left: @gap-md;
                }

                ul li i {
                    display: none;
                }
                &.active{
                    span:after {
                        background-color: @g3;
                    }
                }
                &:hover{
                    width: calc(@menuwidth - @gap-lg);
                    ul{
                        height: auto;
                        position: absolute;
                        left: 63px;
                        top: 0px;
                        background: @g1;
                        width: calc(@menuwidth - @gap-lg - 4px);
                        .elevation-3();
                        border-radius: 0 @radius @radius 0;
                        li{
                            &:hover{
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
        .profile{
            width: 64px;
            .profileBtn{
                &.toggle-menu{
                    i{
                        padding: 0px 6px 0px 0px;
                        margin-left: 0;
                        .rotate();
                    }
                }
                &:not(.toggle-menu){
                    
                    i{
                        margin-left: 0;
                        padding-left: 5px;
                    }
                }
                &:hover:not(.active):not(.prevent-hover-effect) {
                    color: @g7;
                }
                span{
                    display: none;
                }
            }
        }
    }
    .menu{
        position: relative;
        padding-left: 0;

        a {
            text-decoration: none;
        }

        li{
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            color: @g7;
            width: 100%;
            z-index: 1;            
            cursor: pointer;
            .transition(200ms);
            
            &.not-collapsed,
            &.active{                
                > ul{
                    height: auto;
                }
            }
            &.active{
                > span {
                    background-color: @g2;
                    font-weight: @font-weight-semibold;
                }
                a{
                    &:hover{
                        &:after{
                            background-color: @c1;
                        }
                    }
                    &:after{
                        opacity: 1;
                        background-color: @g3;
                    }
                }
            }
            > span{
                font-family: @titlefont;
                font-weight: @font-weight-medium;
                width: 100%;
                height: 100%;
                padding: @gap-sm @gap-md;
                line-height: 140%;
                border-radius: @radius;
                margin: 2px @gap-xs;
                .transition(200ms);
                
                &:hover {
                    background-color: @g2;
                }

                span {
                    margin-left: 48px;
                }
            }

            i.icon{
                margin-left: @gap-md;
                width: 36px;
                position: absolute;
                z-index: 2;
                color: @g6;
                .transition(200ms);

                + a{
                    font-family: @titlefont;
                    &:after{
                        display: none;
                    }
                }
            }
            .fas.fa-sort-desc{
                width: 10px;
                height: 10px;
                width: 0;
                height: 0;
                top: 5px;
                position: absolute;
                right: @gap-md;
                color: @g6;
            }
            a {
                position: relative;
                z-index: 1;
                display: flex;
                align-items: center;
                width: 100%;
                padding: @gap-sm @gap-md @gap-xs 48px;
                color: @g7;
                line-height: 140%;
                border-radius: @radius;
                margin: 2px @gap-xs;
                .transition(200ms);
                
                span{
                    position: relative;
                    z-index: 2;
                    font-family: @copyfont;
                }
                &:after{
                    content:'';
                    position: absolute;
                    z-index: 0;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background-color: @c1;
                    opacity: 0;
                    border-radius: @radius;
                    .transition(200ms);
                }
                &:hover{
                    color: @g1;
                    &:after{
                        opacity: 1;
                    }
                }
            }
            ul{
                display: block;
                width: 100%;
                padding: 0px 0px 0px @gap-sm;
                height: 0px;
                overflow: hidden;
                .transition(300ms);
                
                li{
                    display: flex;
                    align-items: center;
                    &:first-child{
                        border: none;
                    }
                    i.icon{
                        right: auto;
                        left: 0;
                        + a{
                            font-family: @titlefont;
                            &:after{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    .profile{
        background-color: @g1;
        position: sticky;
        bottom: 0px;
        z-index: 2;
        left: 0;
        border-top: 1px solid @g3;
        width: 100%;
        padding: @gap-sm 0px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: auto;

        .profileBtn{
            width: 100%;
            color: @g7;
            padding: @gap-sm @gap-md @gap-xs @gap-md;
            position: relative;
            z-index: 2;
            line-height: 140%;
            border-radius: @radius;
            margin: 2px @gap-xs;
            .transition(200ms);
            
            span{
                position: relative;
                z-index: 2;
                font-family: @copyfont;
            }
            i.icon{
                padding: 0px @gap-sm 0px @gap-xs;
                margin-left: @gap-sm;
                color: @g6;
            }
            &:after {
                content:'';
                position: absolute;
                z-index: -1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                border-radius: @radius;
                .transition(200ms);
            } 
            &:hover {
                background-color: @g2;
            }
            &.active {
                &:after {
                    opacity: 1;
                    background-color: @g2;
                }
                font-weight: @font-weight-medium;
            }
        }
    }
}



/* MOBILE MENU */
header {
    #mobileMenuToggle {
        display: none;
    }
}
@media @query[max_sm] {

    header {
        #mobileMenuToggle {
            display: block;
            z-index: 9998;
            font-size: 24px;
            color: @c1;
            padding: 10px;
            text-align: center;

            i {
                width: 22px;
            }
            
            .openIcon {
                display: block;
            }
            .closeIcon {
                display: none;
            }
        }
    }

    aside {
        visibility: hidden;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 60px;
        z-index: 9998;
        transition: left .5s ease-in-out;
    }

    .sidemenu-not-collapsed {
        aside {
            visibility: visible;
            left: 0;
        }

        header #mobileMenuToggle {
            .openIcon {
                display: none;
            }
            .closeIcon {
                display: block;
            }
        }
    }
}

